:root {
  --image-width: 320px;
  --image-height: 320px;
  --archive-image-width: calc(var(--image-width) / 2);
  --archive-image-height: calc(var(--image-height) / 2);
}

body {
    background-color: lightblue;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
}

.container {
		position: absolute;
}

.flex-container {
  display: flex;
  flex-wrap:  wrap;
  justify-content: space-between;
}

.flex-container > div {
  margin: 10px;
}

.bottomleft {
    color: white;
    position: relative;
    bottom: 24px;
    left: 1px;
    font-size: 18px;
}

.bottomright {
    position: relative;
    bottom: 44px;
    left: calc(var(--image-width) - 46px);
    font-size: 18px;
}

.archivebottomleft {
  color: white;
  position: relative;
  bottom: 14px;
  left: 1px;
  font-size: 12px;
}

.archivebottomright {
  position: relative;
  bottom: 28px;
  left: calc(var(--archive-image-width) - 32px);
  font-size: 12px;
}

.newimg {
    width: var(--image-width);
    height: var(--image-height);
}

.oldimg {
    width: var(--archive-image-width);
    height: var(--archive-image-height);
}

.title {
        font-weight: bold;
}
